<!DOCTYPE html>
<html class="bg-white "> 
  <head>
    <title>CurriculumDeveloper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />

  </head>

  <body class="h-full flex flex-col justify-items-center items-center">

    <div class="navbar bg-gray-100">
          <a href="/">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-2xl text-primary">curricula</a>
      </div>
            </a>

    <div class="flex-none gap-2">
    

      <a href="user_curriculum/index">
        <div class="flex-1">
          <a href="/user_curriculum/index" class="btn btn-ghost normal-case text-xl text-gray-400">My Curriculum</a>
        </div>
      </a>
    <% if user_signed_in? %>
      <div class="">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
          </label>
        </div>
      </div>
    <% else %>
      <div class="">
          <a href="/users/sign_in">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </div>
            </label>
          </a>
        </div>
      </div>
    <% end %>
</div>


    <script src="https://cdn.tailwindcss.com"></script>
    <%= yield %>
  </body>
</html>
